<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>../src/*</directory>
        </include>
        <report>
            <cobertura outputFile="coverage.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="integration">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="logfile.xml"/>
    </logging>
</phpunit>
